---
layout: default
title: Interconexiones
description: Servicio de internet de alta velocidad para las necesidades de tu familia y tu empresa, evento, negocio u oficina. Pregunta por nuestros planes.
---
<main class="principal">

  <!-- Seccion1 -->
  <a href="#servicios" title="Link sección de servicios de Interconexiones" class="seccion1">
    <h1>Interconexiones</h1>
  </a>
  <section class="light-box" id="servicios">
    {% include servicios.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Atrás" class="close">
  </section>

  <!-- Seccion2 -->
  <a href="#testimonios" title="Link sección de Testimonios de Interconexiones" class="seccion2">
    <h2>Nuestros Clientes</h2>
  </a>
  <section class="light-box" id="testimonios">
    {% include testimonios.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Atrás" class="close">
  </section>

  <!-- Seccion3 -->
  <a href="#contacto" title="Link sección de contacto de Interconexiones" class="seccion3">
    <h2>Trabajemos Juntos</h2>
  </a>
  <section class="light-box" id="contacto">
    {% include contacto.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Atrás" class="close">
  </section>

  <!-- Seccion4 -->
  <a href="#normatividad" title="Link sección de normatividad de Interconexiones" class="seccion4">
    <h2>Normatividad</h2>
  </a>
  <section class="light-box" id="normatividad">
    {% include normatividad.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Atrás" class="close">
  </section>
</main>
<section class="boton-footer">
  <p>Aquí va algo</p>
</section>