---
layout: default
title: Interconexiones Pitalito
description: Servicio de internet de alta velocidad para las necesidades de tu familia y tu empresa, evento, negocio u oficina. Pregunta por nuestros planes.
---
<main class="principal">

  <!-- Seccion1 -->
  <a href="#servicios" title="Link sección de servicios" class="seccion1">
    <h1>Interconexiones Pitalito</h1>
  </a>
  <section class="light-box" id="servicios">
    {% include servicios.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Inicio" class="close">
  </section>

  <!-- Seccion2 -->
  <a href="#seccion2" class="seccion2">
    <h2>Nuestros Clientes</h2>
  </a>
  <section class="light-box" id="seccion2">
    {% include portafolio.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Inicio" class="close">
  </section>

  <!-- Seccion3 -->
  <a href="#seccion3" class="seccion3">
    <h2>Trabajemos Juntos</h2>
  </a>
  <section class="light-box" id="seccion3">
    {% include contacto.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Inicio" class="close">
  </section>
  <!-- Seccion4 -->
  <a href="#seccion4" class="seccion4">
    <h2>Condiciones y términos legales</h2>
  </a>
  <section class="light-box" id="seccion4">
    {% include condiciones.html %}
    <input type="button" onclick="history.back()" name="Atrás" value="Inicio" class="close">
  </section>
</main>
<section class="boton-footer">
  <p>Aquí va algo</p>
</section>