<div id="condiciones">
  <h3>Condiciones para domicilios</h3>
  <ul>
    <li> El costo del domicilio en la zona urbana es de $1000.</li>
    <li> Las veredas cercanas cancelarán $2000 por domicilio.</li>
    <li> Las zonas rurales solo se atenderán según la disponibilidad de tiempo.</li>
    <li> Los días domingo no alcanzamos a atender domicilios. Nos encantaría atenderte en nuestro local. Visítanos
      siguiendo las indicaciones en este link: <a href="{{site.maps}}" title="Ubicación de la heladería GurCoff en el mapa de San Agustín Huila">Guía en Google Maps</a></li>
  </ul>
</div>