<footer>
  <a href="{{site.baseurl}}/contacto" title="Página de contacto de la heladería GurCoff de San Agustín Huila">Contacto</a>
  <a href="{{site.baseurl}}/blog" title="Página del blog de la heladería GurCoff de San Agustín Huila">Blog</a>
  <a href="{{site.baseurl}}/privacidad" title="Página con las normas del uso de datos y privacidad de la heladería GurCoff de San Agustín Huila" rel="nofollow">Privacidad</a>
  <a href="{{site.baseurl}}/condiciones" title="Página con las conidiciones de uso del sitio web de la heladería GurCoff de San Agustín Huila" rel="nofollow">Condiciones</a>

  <p>&copy; GurCoff Heladería - 2020 Todos los derechos reservados.</p>

</footer>