<footer>
  <div>
    <h3>Secciones del sitio</h3>
    <a href="{{site.baseurl}}/#servicios" title="Sección de servicios e información">Interconexiones</a>
    <a href="{{site.baseurl}}/#contacto" title="Sección de contacto">Contacto</a>
    <a href="{{site.baseurl}}/#testimonios" title="Sección de testimonios">Testimonios</a>
    <a href="{{site.baseurl}}/#normatividad"
      title="Sección de la normatividad exigida por el gobierno nacional de Colombia">Normatividad</a>
  </div>
  <div>
    <h3>Atención al cliente</h3>
    <a href="{{site.whatsapp}}" title="Enlace al whatsapp de interconexiones" rel="nofollow">Soporte Técnico</a>
    <a href="{{site.tel}}" title="Enlace para llamar a interconexiones" rel="nofollow">Línea de atención</a>
    <a href="{{site.email}}" title="Enlace para escribir un PQR a interconexiones" rellrel="nofollow">PQRS</a>
    <a href="{{site.baseurl}}/#servicios"
      title="Sección de servicios e información de interconexiones">Institucionalidad</a>
  </div>
  <div>
    <h3>Términos Legales</h3>
    <a href="{{site.baseurl}}/condiciones" title="Condiciones del sitio web de Interconexiones" rel="nofollow">Condiciones</a>
    <a href="{{site.baseurl}}/privacidad" title="Normas de privacidad del sitio web de Interconexiones" rel="nofollow">Privacidad</a>
    <a href="#" title="Disclaimer del sitio web de Interconexiones" rel="nofollow">Descargos</a>
    <a href="{{site.baseurl}}/#servicios"
      title="XXXXXXXXXXXXXXXXXXXXXXX del sitio web de Interconexiones" rel="nofollow">Otros</a>
  </div>
  <div class="copyright">
    <img src="{{site.baseurl}}/img/logo.webp" alt="Logo de la empresa interconexiones de Pitalito"
  title="Logo Interconexions Pitalito" width="100px">
    <p>©&nbsp;Interconexiones Pitalito {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
  </div>
</footer>