<footer>
  <div>
    <h3>Secciones del sitio</h3>
    <a href="{{site.baseurl}}/" title="Sección de servicios e información">Interconexiones</a>
    <a href="{{site.baseurl}}/contacto" title="Sección de contacto">Contacto</a>
    <a href="{{site.baseurl}}/blog" title="Sección de testimonios">Blog</a>
    <a href="{{site.baseurl}}/legal" title="Sección de la normatividad exigida por el gobierno nacional de Colombia">Legal</a>
  </div>
  <div>
    <h3>Atención al cliente</h3>
    <a href="{{site.whatsapp}}" title="Enlace al whatsapp de interconexiones" rel="nofollow">Soporte Técnico</a>
    <a href="{{site.tel}}" title="Enlace para llamar a interconexiones" rel="nofollow">Línea de atención</a>
    <a href="{{site.baseurl}}/contacto" title="Enlace para escribir un PQR a interconexiones" rellrel="nofollow">PQRS</a>
    <a href="{{site.baseurl}}/contacto" title="Sección de servicios e información de interconexiones">Institucionalidad</a>
  </div>
  <div>
    <h3>Términos Legales</h3>
    <a href="{{site.baseurl}}/legal" title="Condiciones del sitio web de Interconexiones" rel="nofollow">Condiciones</a>
    <a href="{{site.baseurl}}/legal" title="Normas de privacidad del sitio web de Interconexiones" rel="nofollow">Privacidad</a>
    <a href="https://www.mintic.gov.co/portal/inicio/" title="Disclaimer del sitio web de Interconexiones" rel="nofollow">MinTic</a>
    <!-- <a href="{{site.baseurl}}/" title="XXXXXXXXXXXXXXXXXXXXXXX del sitio web de Interconexiones" rel="nofollow">Otros</a> -->
  </div>
  <div class="copyright">
    <img src="{{site.baseurl}}/img/logo.svg" alt="Logo de la empresa interconexiones"
  title="Logo Interconexions" width="100px" loading="lazy" id="animar3">
    <p>©&nbsp;Interconexiones {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
  </div>
</footer>