<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M32 16h352c17.672 0 32 14.328 32 32v432c0 17.672-14.328 32-32 32H32c-17.672 0-32-14.328-32-32V48c0-17.672 14.328-32 32-32zm0 0"
    fill="#ecce93" />
  <path d="M32 374.625V48h352v432H137.375zm0 0" fill="#efefef" />
  <path
    d="M137.375 374.625V480L32 374.625zm0 0M128 64V0h160v64c0 17.672-14.328 32-32 32h-96c-17.672 0-32-14.328-32-32zm0 0"
    fill="#e76e54" />
  <path d="M512 368c0 79.527-64.473 144-144 144s-144-64.473-144-144 64.473-144 144-144 144 64.473 144 144zm0 0"
    fill="#48c8ef" />
  <path
    d="M335.008 429.648L304 398.625c-6.246-6.25-6.246-16.379 0-22.625s16.375-6.246 22.625 0l10.367 10.352 72.465-60.399c6.79-5.664 16.887-4.746 22.543 2.047 5.664 6.79 4.746 16.887-2.047 22.543zm0 0"
    fill="#fff" />
  <g fill="#77959e">
    <path
      d="M176 128h128c8.836 0 16 7.164 16 16s-7.164 16-16 16H176c-8.836 0-16-7.164-16-16s7.164-16 16-16zm0 0M96 128h32v32H96zm0 0M96 192h32v32H96zm0 0M96 256h32v32H96zm0 0M96 320h32v32H96zm0 0M176 192h96c8.836 0 16 7.164 16 16s-7.164 16-16 16h-96c-8.836 0-16-7.164-16-16s7.164-16 16-16zm0 0M176 256h32c8.836 0 16 7.164 16 16s-7.164 16-16 16h-32c-8.836 0-16-7.164-16-16s7.164-16 16-16zm0 0" />
  </g>
</svg>

<h3>Somos interconexiones Pitalito</h3>
<div class="regulaciones">
  <h2>Regulación</h2>
  <p>Interconexiones es regulado por el <strong>Ministerio de Tecnologías de la Información y las
      Comunicaciones</strong> de Colombia.</p>
  <img src="{{site.baseurl}}/img/mintic.webp" alt="Logo MinTic Colombia">
  <a href="https://www.mintic.gov.co/portal/inicio/" title="Portal del Mintic Colombia" rel="nofollow"
    class="cta">Visitar Página MinTic</a>
  <h2>Internet Sano</h2>
  <h3>Cuidemos nuestros niños</h3>
  <p>Interconexiones como parte de <strong>su compromiso social y en cumplimiento de las normas vigentes,</strong>
    informa a sus usuarios sobre la existencia y los alcances de la <strong>Ley 679 de 2001</strong>, y sus decretos
    reglamentarios, los cuales pueden ser consultados y sobre los sitios en que nuestros usuarios pueden denunciar ante
    las autoridades competentes sitios en la red con presencia de contenidos de pornografía infantil.</p>

  <p>Internet Sano es la campaña del Ministerio de Comunicaciones por medio de la cual se pretende generar opinión y
    conocimiento en torno al tema de la explotación infantil en Internet, destacando mensajes de prevención, de
    denuncia, informativos e institucionales.</p>

  <p>Esta campaña del Ministerio de Comunicaciones busca que todos los colombianos comprendan y asimilen lo que
    significa la prevención de la pornografía infantil y juvenil en Internet. <strong>Dentro de los desarrollos de esta
      campaña y en cumplimiento de la Ley 679 de 2001 y del Decreto 1524 de 2004,</strong> Interconexiones adoptó el
    Código de Conducta para el manejo y aprovechamiento de redes globales de información y la protección de los menores
    de edad contra la pornografía infantil con el objetivo de prevenir la divulgación de material de pornografía
    infantil a través de las redes y equipos de cómputo bajo su directa administración, con el fin de prevenir el acceso
    de menores de edad a cualquier tipo de material pornográfico, como herramienta para la lucha contra la pornografía
    infantil.</p>

  <p>En los siguientes lugares de Internet se pueden <strong>realizar las denuncias relacionadas con sitios y contenidos
      de pornografía de menores de edad y páginas electrónicas en las que se ofrezcan servicios sexuales con
      niños:</strong> </p>
  <h4>Ministerio de Comunicaciones</h4>
  <ul>
    <li>
      Teléfono: 01 800 0912667
    </li>
    <li>
      <a href="https://www.mintic.gov.co/portal/inicio/" title="Portal del Mintic Colombia" rel="nofollow">Visitar
        Página MinTic</a>
    </li>
  </ul>
  <h4>Fiscalía General de la Nación</h4>
  <ul>
    <li>
      Línea Fiscalía General de la Nación: <a href="tel:122" title="Línea de la Fiscalía General de la Nación"
        rel="nofollow">122</a>. Línea gratuita nacional para denuncia, emergencia y orientación. Disponible las 24
      horas.
    </li>
    <li>
      Página de la Fiscalía: <a href="https://www.fiscalia.gov.co/colombia/">www.fiscalia.gov.co</a>
    </li>
    <li>
      Correo electrónico de la Fiscalía: <strong>ges.documentalpqrs@fiscalia.gov.co</strong>
    </li>
    <li>
      Link para denuncias de la Fiscalía General de la Nación: <a
        href="https://portal.iqoutsourcing.com/chatfiscalia/index.html"
        title="Link de denuncias de la Fiscalía General de la Nación" rel="nofollow">Portal de denuncias</a>.
    </li>
  </ul>
  <h4>Policía Judicial - DIJIN</h4>
  <ul>
    <li>
      Grupo Investigativo Delitos Informáticos. Línea Policía Nacional: <a href="tel:123"
        title="Línea de la Fiscalía General de la Nación" rel="nofollow">123</a>. Línea gratuita nacional para denuncia,
      emergencia y orientación. Disponible las 24
      horas.
    </li>
    <li>
      Correo electrónico de la Policía Nacional: <strong>lineadirecta@policia.gov.co</strong>
    </li>
    <li>
      Link para denuncias de la Policía Nacional: <a
        href="https://adenunciar.policia.gov.co/Adenunciar/Login.aspx?ReturnUrl=%2fadenunciar%2fdefault.aspx"
        title="Link de denuncias de la Policía Nacional" rel="nofollow">Portal de denuncias</a>.
    </li>
  </ul>
  <h4>Isntituto Colombiano de Bienestar Familiar</h4>
  <ul>
    <li>
      Línea de denuncias del bienestar familiar: <a href="tel:141" title="Línea del Bienestar Familiar"
        rel="nofollow">141</a>. Línea gratuita nacional para denuncia, emergencia y orientación. Disponible las 24
      horas.
    </li>
    <li>
      Correo electrónico de la Policía Nacional: <strong>atencionalciudadano@icbf.gov.co</strong>
    </li>
    <li>
      Página del ICBF: <a href="https://www.icbf.gov.co/">www.icbf.gov.co</a>
    </li>
  </ul>
</div>
<h2>Créditos</h2>
<div>El crédito de los íconos es <a href="https://www.freepik.com" title="Freepik" style="margin: 0;">Freepik</a> y son
  tomados desde <a href="https://www.flaticon.com/" title="Flaticon" style="margin: 0;">www.flaticon.com</a></div>
</p>

{% include footer.html  %}