<img src="{{site.baseurl}}/img/logo.webp" width="200px" alt="Logo de la empresa interconexiones de Pitalito"
  title="Logo Interconexions Pitalito">

<h3>El mejor servicio de internet</h3>

<a href="{{site.whatsapp}}" title="WhatsApp de Interconexiones" rel="nofollow" class="cta" target="_blanck">Preguntar por planes</a>

<p>Tienes el respaldo de nuestra empresa para contar constantemente con un servicio estable y veloz.</p>

<section class="servicios">
  {% for servicio in site.data.servicios %}
  <div>
    {{ servicio.img }}
    <h4>{{ servicio.h4 }}</h4>
    <p>{{ servicio.p }}</p>
  </div>
  {% endfor %}
</section>

<p>Si tienes servicio con nosotros, y te gustaría hacer una prueba de la velocidad de tu internet, puedes hacerla desde aquí:</p>

<a href="https://fast.com" title="Test de velocidad en fast.com" rel="nofollow" class="cta" style="background-color: red;" target="_blanck">Test de velocidad</a>

<p>Toda nuestra experiencia adquirida <strong>desde el año 2010</strong> hasta la actualidad a tu servicio.</p>

<ul>
  <li>Unimos familias y amigos</li>
  <li>Facilitamos los procesos digitales de tu empresa</li>
  <li>Agilizamos las labores de las instituciones</li>
  <li>Llevamos entretenimiento a tu casa</li>
  <li>Permitimos que tus seres queridos sigan sus estudios a distancia</li>
</ul>

<a href="{{site.whatsapp}}" title="WhatsApp de Interconexiones" rel="nofollow" class="cta" target="_blanck">Contáctanos</a>

<section class="institucionalidad">
<h2>Institucionalidad</h2>
<h3>Misión</h3>
<hr>
<p>Somos una empresa con mucha experiencia en el mercado de las telecomunicaciones. Siempre priorizamos la calidad de nuestros servicios para lograr un porcentaje alto de satisfacción en nuestros clientes. Nuestro talento humano y la tecnología de vanguardia son nuestras variables diferenciales en el mercado competido de las telecomunicaciones.</p>
<h3>Visión</h3>
<hr>
<p>Lograr ser el referente en el Huila en servicios de instalación y configuración de redes, internet de alta velocidad, circuitos cerrados de vigilancia y proveedores tecnológicos de empresas y hogares.</p>
</section>

{% include footer.html %}