<img src="{{site.baseurl}}/img/logo.svg" alt="Logo de la empresa interconexiones de Pitalito"
  title="Logo Interconexions Pitalito" width="100px">

<h3>El mejor servicio de internet</h3>

<a href="{{site.whatsapp}}" title="WhatsApp de Interconexiones" rel="nofollow">Preguntar por planes</a>

<p>Tienes el respaldo de nuestra empresa para contar constantemente con un servicio estable y veloz.</p>

<section class="servicios">
  {% for servicio in site.data.servicios %}
  <div>
    {{ servicio.img }}
    <h4>{{ servicio.h4 }}</h4>
    <p>{{ servicio.p }}</p>
  </div>
  {% endfor %}
</section>

<p>Toda nuestra experiencia adquirida <strong>desde el año 2010</strong> hasta la actualidad a tu servicio.</p>

<ul>
  <li>Unimos familias y amigos</li>
  <li>Facilitamos los procesos digitales de tu empresa</li>
  <li>Agilizamos las labores de las instituciones</li>
  <li>Llevamos entretenimiento a tu casa</li>
  <li>Permitimos que tus seres queridos sigan sus estudios a distancia</li>
</ul>

<a href="{{site.whatsapp}}" title="WhatsApp de Interconexiones" rel="nofollow">Contáctanos</a>