.articulo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 5rem auto;
  max-width: min(90%, 960px);
}

.articulo a {
  display: block;
  max-width: 100%;
  text-decoration-color: var(--accion);
  text-decoration-thickness: 4px;
  text-align: center;
  color: var(--accion);
  font-family: var(--fuenteTitulo);
  font-weight: 700;
  line-height: 2rem;
}

.articulo blockquote {
  color: var(--principal);
  font-size: calc(100% * 1.2);
  font-family: var(--fuenteTitulo);
  font-weight: 700;
  text-align: center;
}

.articulo img:not(.articulo a img) {
  max-width: 100%;
  display: block;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  margin: 0 auto;
}