.magazine {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.magazine h2 {
  font-size: var(--sizeH2);
}

.magazine article {
  width: 300px;
}

.magazine img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.magazine p {
  margin: 1rem 0;
}

section.magazine>p {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .magazine {
    width: 80vw;
    margin: 0 auto;
  }
}