.botones{
  position: relative;
  display: block;
  margin: 1em 0;
  max-width: 60vw;
  font-family: var(--fuenteTitulos);
  font-weight: 700;
  font-size: var(--sizeH3);
  line-height: 1.2;
  color: var(--principal);
  text-decoration: underline;
  text-decoration-color: var(--secundario);
  text-decoration-thickness: 0.2rem;
  transition: 0.5s ease-in;
}

.botones:hover {
  text-decoration: underline;
  text-decoration-color: var(--accion);
  text-decoration-thickness: 0.4rem;
}

.botones::before {
  content: 'Clic';
  position: absolute;
  top: calc(100% - 150%);
  left: calc(100% - 110%);
  color: rgba(255, 231, 76, 0.5);
  font-size: 3rem;
  letter-spacing: 5px;
  z-index: -1;
}

@media screen and (min-width: 767px){
  .botones::before{
    font-size: 8rem;
    top: calc(100% - 200%);
  }
}