/* Buscador */

#search-container {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  color: var(--complemento2);
}

#search-container h1{
  font-family: var(--fuenteTexto);
  margin-top: 1.2rem;
}

#search-container input {
  padding: 0.7rem;
  border-color: var(--principal);
}

#results-container div a {
  font-family: var(--fuenteTexto);
  color: var(--principal);
}

#results-container div a span {
  font-family: var(--fuenteTexto);
  color: var(--accion);
}

@media screen and (min-width: 600px) {
  #search-container {
  grid-column: span 3;
  }
}
  @media screen and (min-width: 767px) {

  #search-container {
    width: 60vw;
    padding: 0;
  }
}