.contacto{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contacto ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contacto ul li{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
}

.contacto ul li svg{
  width: 100%;
  color: var(--secundario);
}

.contacto ul li a{
  text-decoration: none;
}

.home-cta .cta{
  color: white;
}

.institucionalidad{
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
}