footer{
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
  background: var(--gris2);
  box-shadow: var(--shadow);
}

footer div{
  display: grid;
}

footer div h3{
  text-align: left;
  color: var(--blanco);
  text-transform: capitalize;
}

footer div a,
footer div p{
  height: auto;
  width: 100%;
  list-style: none;
  color: var(--blanco);
  display: block;
  padding: 1rem 0;
}

.copyright p{margin: 0;}

footer div a{
  border-bottom: 1px solid var(--blanco);
}

footer div img{
  width: 25vw;
  justify-self: center;
}

@media screen and (min-width: 600px){
  footer{
    grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
    justify-content: center;
    grid-gap: 5rem 3rem;
  }

  footer div img{
    max-width: 100%;
  }
}

@media screen and (min-width: 992px){
  footer{
    grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
    grid-gap: 0 3rem;
  }
}