#normatividad h2{
  text-align: center;
  margin: 1rem;
}

.regulaciones{
  display: grid;
  grid-gap: 2rem;
}

.regulaciones p{
  margin: 0;
}
.regulaciones img{
  max-width: 100%;
  justify-self: center;
}

.regulaciones ul{
  padding: 0 2rem;
}

.regulaciones ul li{
  margin: 0.7rem 0;
}

.regulaciones ul li a{
  font-weight: 700;
  color: var(--azul);
}