#servicios{
  display: grid;
}

#servicios > img{
  justify-self: center;
}

#servicios ul{
  padding: 0 2rem;
}

.servicios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
  justify-content: center;
}

.servicios div{
  border: 1px solid var(--gris1);
  padding: 1rem 0.5rem;
  text-align: center;
}

.servicios div h4{
  margin: 0.7rem 0;
  color: var(--gris3);
}

.servicios div p{
  margin: 0;
}

.institucionalidad{
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: var(--gris1);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.institucionalidad hr{
  width: 30vw;
  margin: 0.5rem;
  height: 2px;
  background: var(--gris2);
}

.institucionalidad p{
  margin: 0;
}

@media screen and (min-width: 600px){
  #servicios{
    display: grid;
  }
  
  #servicios > img{
    width: 20vw;
    justify-self: center;
  }

  .servicios{
    grid-template-columns: repeat(auto-fit, minmax(auto, 120px));
  }
}

@media screen and (min-width: 767px){
  .institucionalidad{
    padding: 2rem;
  }
}