.testimonios div {
  padding: 2rem;
  margin-bottom: 2rem;
  background: var(--gris1);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.testimonios div h4 {
  margin: 1rem 0;
}

.testimonios div p {
  margin: 0;
}

.testimonios div a {
  display: inline-block;
  color: var(--azul);
  font-weight: 700;
  margin: 1rem 0;
}

@media screen and (min-width: 992px) {
  .testimonios{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    justify-content: center;
  }
}