/*** Formatos Universales ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--blanco);
  font-family: var(--fuenteTexto);
  color: var(--negro1);
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3{
  font-family: var(--fuenteTitulo);
}

h1{font-size: var(--sizeH1);}
h2{font-size: var(--sizeH2);}
h3, h4{font-size: var(--sizeH3);}
p{font-size: var(--sizeTexto);}

button {
  margin: 2rem 0;
}

img {
  border-style: none;
}

[hidden] {
  display: none;
}

.cta{
  display: block;
  background: var(--azul);
  width: 70vw;
  height: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 7px;
  box-shadow: var(--shadow);
  color: var(--blanco);
  margin: 2rem auto;
  text-align: center;
}


@media only screen and (min-width: 600px) {

}